.top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.start{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
form{
    padding-left: 150px;
    border-radius: 40%;
}
nav ul li{
    list-style-type: none;
}
.right img{
    border-radius: 50%;
    padding: 10px;
}
.right{
    display: flex;
    align-items: flex-start;
    padding-left: 100px;
}
body{
    background-color: hsl(0, 0%, 100%);
}
img{
    border-radius: 50%;
}
.profile{
    padding-bottom: 100px;
}
.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dp{
    padding: 5px;
}
.con{
    display: flex;
    justify-content: center;
}
.name{
    padding: 10px;
    padding-left: 40px;
}
strong{
    text-align: center;
    text-size-adjust: 50px;
}
.a{
    display: flex;
    justify-content: center;
}
.b{
    margin: 2px;
    margin-left:600px;
    border: solid rgb(250, 245, 245);
    padding: 30px;
}
.message{
    border-radius: 50%;
    border: 2px solid black;
    display:block;
    margin-left:auto;
    margin-right: auto;
    
}
.end{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 4px;
    margin-left:2px;
    margin-right: 40px;
    border: solid rgb(250, 245, 245);
    padding-top: 150px;
    border:150px solid white ;
}
.butt{
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px 10px;
    
}
.icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.top{
    display: flex;
    justify-content: center;
}
